<div class="login">
    <h2>Nuevo Gato</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" method="post" class="custom-form">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre" id="nombre" required name="nombre" />
            <label for="fecha_nacimiento">Fecha nacimiento</label>
            <input type="date" class="form-control" formControlName="fecha_nacimiento" id="fecha_nacimiento" required name="fecha_nacimiento" />
            <label for="sexo">Sexo</label>
            <input type="text" class="form-control" formControlName="sexo" id="sexo" required name="sexo" />
            <label for="historia">Historia</label>
            <input type="text" class="form-control" formControlName="historia" id="historia" required name="historia" />
            <label for="imagen">Imagen</label>
            <input type="file" class="form-control" formControlName="imagen" name="imagen" id="imagen" required (change)="onFileSelected($event)">
        </div>

        <button type="submit" [disabled]="!form.valid">Guardar gato</button>
    </form>
</div>